:host {
  display: flex;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
  --scroll-timeline-name: none;
}

:host([data-active]) {
  --scroll-timeline-name: --scroll;
}
