@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(20px);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes reveal {
  from {
    visibility: hidden;
  }

  to {
    visibility: visible;
  }
}

@keyframes scroll-shadow-top {
  0% {
    border-color: transparent;
    box-shadow: none;
  }

  0.001% {
    border-color: var(--border-color);
    box-shadow: var(--scroll-shadow-top);
  }

  100% {
    border-color: var(--border-color);
    box-shadow: var(--scroll-shadow-top);
  }
}

@keyframes scroll-shadow-bottom {
  0% {
    border-color: var(--border-color);
    box-shadow: var(--scroll-shadow-bottom);
  }

  99.999% {
    border-color: var(--border-color);
    box-shadow: var(--scroll-shadow-bottom);
  }

  100% {
    border-color: transparent;
    box-shadow: none;
  }
}
