.button {
  display: grid;
  place-items: center;
  padding: var(--spacing-xs) var(--spacing-sm);
  border-radius: var(--radius-md);
  border: none;
  background-color: color-mix(in srgb, currentColor 15%, transparent);
  height: 32px;
  color: inherit;
  font-weight: 600;
  line-height: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: background-color var(--transition-medium);
  user-select: none;
  cursor: pointer;

  &:hover {
    background-color: color-mix(in srgb, currentColor 25%, transparent);
  }

  &:active {
    background-color: color-mix(in srgb, currentColor 35%, transparent);
  }

  &.flat {
    background-color: transparent;

    &:hover {
      background-color: color-mix(in srgb, currentColor 15%, transparent);
    }

    &:active {
      background-color: color-mix(in srgb, currentColor 25%, transparent);
    }
  }

  &[aria-expanded="true"] {
    background-color: color-mix(in srgb, currentColor 20%, transparent);

    &:hover {
      background-color: color-mix(in srgb, currentColor 30%, transparent);
    }

    &:active {
      background-color: color-mix(in srgb, currentColor 40%, transparent);
    }
  }

  &.icon-button {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    padding: 0;

    svg {
      width: 24px;
      height: 24px;
    }
  }
}
