:where(.button) {
  display: grid;
  place-items: center;
  padding: var(--spacing-xs) var(--spacing-sm);
  border-radius: var(--radius-md);
  border: 1px solid var(--border-hc-color);
  background-color: color-mix(in srgb, currentColor 15%, transparent);
  height: 32px;
  color: inherit;
  font-weight: 600;
  line-height: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition:
    opacity var(--transition-medium),
    background-color var(--transition-medium),
    display var(--transition-medium) allow-discrete;
  user-select: none;
  cursor: pointer;

  &:hover {
    background-color: color-mix(in srgb, currentColor 25%, transparent);
  }

  &:active {
    background-color: color-mix(in srgb, currentColor 35%, transparent);
  }

  &.flat {
    background-color: transparent;

    &:hover {
      background-color: color-mix(in srgb, currentColor 15%, transparent);
    }

    &:active {
      background-color: color-mix(in srgb, currentColor 25%, transparent);
    }
  }

  &[aria-expanded="true"] {
    background-color: color-mix(in srgb, currentColor 20%, transparent);

    &:hover {
      background-color: color-mix(in srgb, currentColor 30%, transparent);
    }

    &:active {
      background-color: color-mix(in srgb, currentColor 40%, transparent);
    }
  }

  &:has(> svg):not(:has(> :not(svg))) {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    padding: 0;

    > svg {
      width: 24px;
      height: 24px;
    }

    &.small {
      width: 24px;
      height: 24px;
      border-radius: var(--radius-max);

      > svg {
        width: 22px;
        height: 22px;
      }
    }
  }

  &.pill {
    border-radius: var(--radius-max);
  }

  &.big,
  &.pill {
    height: 40px;
    padding: 0 var(--spacing-lg);
  }

  &.suggested-action {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    color: white;

    &:hover {
      background-color: color-mix(in oklab, var(--accent-color) 88%, white);
    }

    &:active {
      background-color: color-mix(in oklab, var(--accent-color) 76%, white);
    }
  }

  &.destructive-action {
    background-color: var(--destructive-bg-color);
    color: var(--destructive-fg-color);

    &:hover {
      background-color: color-mix(in oklab, currentColor 15%, var(--destructive-bg-color));
    }

    &:active {
      background-color: color-mix(in oklab, currentColor 25%, var(--destructive-bg-color));
    }

    &:focus-visible {
      outline-color: var(--destructive-fg-color);
    }
  }
}

.button-group {
  display: flex;
  gap: var(--spacing-sm);
  align-items: center;

  &.vertical {
    flex-direction: column;
    align-items: stretch;
  }
}
