.checkbox,
.radio,
.switch {
  appearance: none;
  position: relative;
  display: grid;
  place-items: center;
  flex-shrink: 0;
  color: inherit;
  cursor: pointer;
}

.checkbox,
.radio {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 2px solid color-mix(in srgb, currentColor 30%, transparent);
  transition:
    border-color var(--transition-medium),
    background-color var(--transition-medium);
}

.radio {
  border-radius: var(--radius-max);

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    transform: translate(-50%, -50%) scale(0);
    background-color: var(--accent-color);
    border-radius: var(--radius-max);
    opacity: 0.08;
    transition:
      transform var(--transition-medium),
      opacity var(--transition-medium);
    pointer-events: none;
  }

  &::after {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: var(--radius-max);
    transform: scale(0);
    transition: transform var(--transition-medium);
  }

  &:hover {
    border-color: color-mix(in srgb, currentColor 60%, transparent);
  }

  &:active {
    border-color: color-mix(in srgb, currentColor 80%, transparent);
  }

  &:checked {
    background-color: var(--accent-color);
    border-color: var(--accent-color);

    &::after {
      transform: scale(1);
    }

    &:hover {
      background-color: color-mix(in oklab, var(--accent-color) 85%, white);
      border-color: color-mix(in oklab, var(--accent-color) 85%, white);
    }

    &:active {
      background-color: color-mix(in oklab, var(--accent-color) 70%, white);
      border-color: color-mix(in oklab, var(--accent-color) 70%, white);
    }
  }

  :root[data-high-contrast="true"] &:not(:checked) {
    border-color: var(--border-hc-color);

    &:hover {
      border-color: color-mix(in srgb, currentColor 70%, transparent);
    }
  }
}

.switch {
  width: 44px;
  height: 24px;
  background-color: color-mix(in srgb, currentColor 25%, transparent);
  border-radius: var(--radius-md);
  transition: background-color var(--transition-medium);

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 18px;
    height: 18px;
    border-radius: var(--radius-max);
    transform-origin: left center;
  }

  &::before {
    background-color: white;
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
    transition: transform var(--transition-fast);
  }

  &::after {
    background-color: var(--accent-color);
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960'%3E%3Cpath d='m382-220-252-252 84-84 168 168 364-364 84 84-448 448Z'/%3E%3C/svg%3E");
    mask-position: center;
    mask-size: 12px;
    mask-repeat: no-repeat;
    opacity: 0;
    pointer-events: none;
    transition:
      opacity var(--transition-medium),
      transform var(--transition-medium);
  }

  &:hover {
    background-color: color-mix(in srgb, currentColor 35%, transparent);
  }

  &:active {
    background-color: color-mix(in srgb, currentColor 45%, transparent);
  }

  &:checked {
    background-color: var(--accent-color);

    &::before,
    &::after {
      transform: translateX(20px);
      transform-origin: right center;
    }

    &::after {
      opacity: 1;
    }

    &:hover {
      background-color: color-mix(in srgb, var(--accent-color) 85%, white);
    }

    &:active {
      background-color: color-mix(in srgb, var(--accent-color) 85%, black);
    }

    :root[data-high-contrast="true"] &::after {
      background-color: color-mix(in srgb, var(--accent-color) 50%, black);
    }
  }
}

.checkbox {
  border-radius: var(--radius-sm);

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    margin: auto;
    width: 17px;
    height: 17px;
    background-color: #fff;
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='white'%3E%3Cpath d='M382-200 113-469l97-97 172 173 369-369 97 96-466 466Z'/%3E%3C/svg%3E");
    mask-position: center;
    mask-size: contain;
    mask-repeat: no-repeat;
    transform: scale(0);
    transition: transform var(--transition-medium);
  }

  &:hover {
    border-color: color-mix(in srgb, currentColor 60%, transparent);
  }

  &:active {
    border-color: color-mix(in srgb, currentColor 80%, transparent);
  }

  &:checked {
    background-color: var(--accent-color);
    border-color: var(--accent-color);

    &::after {
      transform: scale(1);
    }

    &:hover {
      background-color: color-mix(in oklab, var(--accent-color) 85%, white);
      border-color: color-mix(in oklab, var(--accent-color) 85%, white);
    }

    &:active {
      background-color: color-mix(in oklab, var(--accent-color) 70%, white);
      border-color: color-mix(in oklab, var(--accent-color) 70%, white);
    }
  }

  :root[data-high-contrast="true"] & {
    border-color: var(--border-hc-color);

    &:hover {
      border-color: color-mix(in srgb, currentColor 70%, transparent);
    }
  }
}
