@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-VariableFont_wdth,wght.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Italic-VariableFont_wdth,wght.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

:disabled {
  opacity: var(--disabled-opacity);
  pointer-events: none;
  cursor: default;
}

:focus-visible {
  outline: 2px solid var(--accent-color);
  outline-offset: 2px;
}

::selection {
  background-color: color-mix(in oklab, var(--accent-color) 50%, transparent);
}

::placeholder {
  color: currentColor;
  opacity: var(--dimmed-opacity);
}

* {
  scrollbar-color: color-mix(in srgb, currentColor 30%, transparent) transparent;
}

.scrollable-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
  padding: var(--spacing-sm);
  gap: var(--spacing-lg);
  overflow-x: hidden;
  overflow-y: auto;

  > *:only-child {
    flex: 1;
  }
}

:where(.section) {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);

  .header {
    padding: 0;
  }
}

:where(.header, .footer) {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  padding: var(--spacing-sm);

  .vertical {
    flex-direction: column;
  }

  &:where(:has(> :only-child):not(:has(h4))) {
    justify-content: center;
  }

  &:where(:has(> :nth-child(2):last-child)) {
    justify-content: space-between;
  }

  &:where(:has(> :nth-child(3):last-child)) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    > :nth-child(1) {
      justify-self: start;
    }
    > :nth-child(2) {
      justify-self: center;
    }
    > :nth-child(3) {
      justify-self: end;
    }
  }
}

.dimmed {
  opacity: var(--dimmed-opacity);
}

.button {
  display: grid;
  place-items: center;
  padding: var(--spacing-xs) var(--spacing-sm);
  border-radius: var(--radius-md);
  border: none;
  background-color: color-mix(in srgb, currentColor 15%, transparent);
  height: 32px;
  color: inherit;
  font-weight: 600;
  line-height: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition:
    opacity var(--transition-medium),
    background-color var(--transition-medium),
    display var(--transition-medium) allow-discrete;
  user-select: none;
  cursor: pointer;

  &:hover {
    background-color: color-mix(in srgb, currentColor 25%, transparent);
  }

  &:active {
    background-color: color-mix(in srgb, currentColor 35%, transparent);
  }

  &.flat {
    background-color: transparent;

    &:hover {
      background-color: color-mix(in srgb, currentColor 15%, transparent);
    }

    &:active {
      background-color: color-mix(in srgb, currentColor 25%, transparent);
    }
  }

  &[aria-expanded="true"] {
    background-color: color-mix(in srgb, currentColor 20%, transparent);

    &:hover {
      background-color: color-mix(in srgb, currentColor 30%, transparent);
    }

    &:active {
      background-color: color-mix(in srgb, currentColor 40%, transparent);
    }
  }

  &.icon-button {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    padding: 0;

    > svg {
      width: 24px;
      height: 24px;
    }
  }

  &.pill {
    border-radius: var(--radius-max);
  }

  &.big,
  &.pill {
    height: 40px;
    padding: 0 var(--spacing-lg);
  }

  &.suggested-action {
    background-color: var(--accent-color);
    color: white;

    &:hover {
      background-color: color-mix(in oklab, var(--accent-color) 88%, white);
    }

    &:active {
      background-color: color-mix(in oklab, var(--accent-color) 76%, white);
    }
  }

  &.destructive-action {
    background-color: var(--destructive-bg-color);
    color: var(--destructive-fg-color);

    &:hover {
      background-color: color-mix(in oklab, currentColor 15%, var(--destructive-bg-color));
    }

    &:active {
      background-color: color-mix(in oklab, currentColor 25%, var(--destructive-bg-color));
    }

    &:focus-visible {
      outline-color: var(--destructive-fg-color);
    }
  }
}

.close-button {
  width: 24px;
  height: 24px;
  border-radius: var(--radius-max);
  padding: 0;
  flex-shrink: 0;

  > svg {
    width: 22px;
    height: 22px;
  }
}

.search-wrapper {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  width: 100%;
  height: 32px;
  border: 1px solid transparent;
  border-radius: var(--radius-max);
  background-color: color-mix(in srgb, currentColor 10%, transparent);
  padding: 0 var(--spacing-2xs) 0 var(--spacing-xs);
  line-height: 1;
  transition: border-color var(--transition-medium),
              box-shadow var(--transition-medium);

  &::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    margin-left: 0;
    background-color: currentColor;
    opacity: var(--dimmed-opacity);
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960'%3E%3Cpath d='m777.65-143.89-247.89-248q-29.61 24.77-68.3 38.22-38.69 13.44-79.23 13.44-100.36 0-169.74-69.43-69.37-69.42-69.37-169.5 0-100.07 69.32-169.53 69.31-69.46 169.49-69.46t169.65 69.47q69.46 69.47 69.46 169.62 0 41.91-14.08 80.75-14.08 38.85-37.58 67.28l248 247.41-39.73 39.73Zm-395.57-252.3q76.8 0 129.9-53.02 53.1-53.03 53.1-130 0-76.98-53.1-129.98-53-53-130-53t-129.9 53.02-53 130q0 76.98 53.01 129.98 53.02 53.02 129.99 53Z'/%3E%3C/svg%3E");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 24px 24px;
    pointer-events: none;
  }

  &:hover {
    border-color: var(--accent-color);
  }

  &:focus-within {
    border-color: var(--accent-color);
    box-shadow: 0 0 0 1px var(--accent-color);
  }

  &:has(input:disabled) {
    opacity: var(--disabled-opacity);
    pointer-events: none;
  }

  input[type="search"] {
    flex: 1;
    min-width: 0;
    padding: var(--spacing-2sm) 0 var(--spacing-2sm) var(--spacing-xl);
    background-color: transparent;
    color: inherit;
    outline: none;
    border: none;

    &:disabled {
      opacity: 1;
    }

    &::-webkit-search-cancel-button {
      display: none;
    }

    &:not(:placeholder-shown) + button {
      opacity: 1;

      @starting-style {
        opacity: 0;
      }
    }
  }

  button {
    display: none;
    opacity: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='white'%3E%3Cpath d='m330.38-290.27-40.11-40.11L440.39-480 290.27-629.12l40.11-40.11L480-519.11l149.12-150.12 40.11 40.11L519.11-480l150.12 149.62-40.11 40.11L480-440.39 330.38-290.27Z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px 24px;
    width: 32px;
    height: 24px;
    flex-shrink: 0;
  }

  input[type="search"]:not(:placeholder-shown) + button {
    display: revert;
  }
}

.list-group {
  --row-pad-x: calc(var(--spacing-sm) + 2px);
  display: flex;
  flex-direction: column;
  border-radius: var(--radius-md);

  .list-row {
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
    min-height: 52px;
    padding: var(--spacing-xs) var(--row-pad-x);
    background-color: color-mix(in srgb, currentColor 8%, transparent);
    transition: background-color var(--transition-medium);
    user-select: none;

    &:first-of-type {
      border-radius: var(--radius-md) var(--radius-md) 0 0;
    }

    &:last-of-type {
      border-radius: 0 0 var(--radius-md) var(--radius-md);
    }

    &:first-of-type:last-of-type {
      border-radius: var(--radius-md);
    }

    &:has(:disabled) {
      opacity: var(--disabled-opacity);
      pointer-events: none;
    }

    &.activatable:not(:disabled) {
      cursor: pointer;

      &:hover {
        background-color: color-mix(in srgb, currentColor 12%, transparent);
      }

      &:active {
        background-color: color-mix(in srgb, currentColor 16%, transparent);
      }
    }

    &.selectable {
      user-select: text;
    }

    > div:has(.title, .subtitle) {
      display: flex;
      flex-direction: column;
    }

    span {
      white-space: normal;
      overflow-wrap: anywhere;
      word-break: break-word;
    }

    .subtitle {
      font-size: var(--font-size-xs);
      opacity: var(--dimmed-opacity);
    }

    .suffix {
      margin-left: auto;
    }

    &:not(:last-of-type) {
      border-bottom: 1px solid var(--border-color);
    }
  }

  &.rows-separated {
    border: none;
    gap: var(--spacing-xs);

    .list-row {
      border-radius: var(--radius-md);
    }
  }
}
