html {
  color: var(--text-color);
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: var(--font-size-base);
  line-height: 1.5;
  overflow: hidden;
}

.surface {
  background-color: var(--background-color);
  border-radius: var(--radius-md);
  box-shadow: 0 0 5px rgb(0 0 0 / 10%);

  &.collapsible {
    --collapsible-width: clamp(200px, 20vw, 250px);
    flex: 0 0 var(--collapsible-width);
    overflow: hidden;
    transition:
      opacity var(--transition-fast),
      flex-basis var(--transition-fast),
      padding var(--transition-fast),
      display var(--transition-fast) allow-discrete;

    &[data-collapsed] {
      display: none;
      flex-basis: 0;
      padding: 0;
      opacity: 0;
    }

    @starting-style {
      &:not([data-collapsed]) {
        flex-basis: 0;
        opacity: 0;
      }
    }

    > * {
      min-width: var(--collapsible-width);
      flex-shrink: 0;
    }
  }
}

#layout {
  display: flex;
  width: 100%;
  height: 100dvh;
  background-color: var(--layout-color);
}

#sidebar,
#main-content,
.surface {
  display: flex;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
}

#sidebar {
  justify-content: space-between;
  gap: var(--spacing-sm);
  padding: var(--spacing-sm);

  > .header,
  > .footer {
    padding: 0;
  }
}

#main-content {
  flex: 1;

  > .header {
    padding-left: 0;
  }
}

#workspace {
  display: flex;
  flex: 1;
  min-width: 0;
  min-height: 0;
  padding: 0 var(--spacing-sm) var(--spacing-sm) 0;
  gap: var(--spacing-xs);
}

#scripts-view {
  flex: 1;
}
