:root {
  color-scheme: light;

  --dimmed-opacity: 0.6;
  --disabled-opacity: 0.4;
  --font-size-base: 14px;
  --font-size-xs: 0.85em;
  --radius-sm: 6px;
  --radius-md: 12px;
  --radius-max: 9999px;
  --spacing-2xs: 4px;
  --spacing-xs: 6px;
  --spacing-2sm: 8px;
  --spacing-sm: 10px;
  --spacing-md: 16px;
  --spacing-lg: 22px;
  --spacing-xl: 28px;
  --transition-fast: 0.15s ease;
  --transition-medium: 0.2s ease;

  --accent-color: #3b82f6;
  --background-color: light-dark(white, #27272a);
  --border-color: light-dark(rgb(0 0 0 / 18%), rgb(255 255 255 / 18%));
  --dark-border-color: light-dark(rgb(0 0 0 / 30%), rgb(0 0 0 / 45%));
  --destructive-bg-color: light-dark(
    oklch(from var(--destructive-color) 0.85 0.06 h),
    oklch(from var(--destructive-color) 0.38 0.045 h)
  );
  --destructive-color: red;
  --destructive-fg-color: light-dark(
    oklch(from var(--destructive-color) 0.45 0.18 h),
    oklch(from var(--destructive-color) 0.76 0.12 h)
  );
  --dialog-color: light-dark(#f6f6f7, #27272a);
  --layout-color: light-dark(#f4f4f5, #18181b);
  --text-color: light-dark(black, rgb(255 255 255 / 90%));

  &[data-theme="dark"] {
    color-scheme: dark;
  }
}
