.variable-item {
  content-visibility: auto;
  contain-intrinsic-size: auto 52px;

  .menu .unpin-icon {
    display: none;
  }

  &[data-pinned="true"] {
    .menu .pin-icon {
      display: none;
    }

    .menu .unpin-icon {
      display: block;
    }
  }
}
