:host {
  display: block;
  width: 100%;
}

div {
  display: flex;
  align-items: center;
  gap: var(--spacing-2xs);
  width: 100%;
  height: 32px;
  border: 1px solid var(--border-hc-color);
  border-radius: var(--radius-max);
  background-color: color-mix(in srgb, currentColor 10%, transparent);
  padding: 0 var(--spacing-2xs) 0 var(--spacing-xs);
  line-height: 1;
  outline: 2px solid transparent;
  outline-offset: -2px;
  transition: border-color var(--transition-medium),
              outline-color var(--transition-medium);

  &:hover {
    border-color: var(--accent-color);
  }

  &:focus-within {
    border-color: transparent;
    outline-color: var(--focus-outline-color);
  }

  &:has(input:disabled) {
    opacity: var(--disabled-opacity);
    pointer-events: none;
  }

  > svg {
    opacity: var(--dimmed-opacity);
    width: 24px;
    height: 24px;
  }

  input[type="search"] {
    flex: 1;
    min-width: 0;
    padding: var(--spacing-2sm) 0;
    background-color: transparent;
    color: inherit;
    outline: none;
    border: none;

    &:disabled {
      opacity: 1;
    }

    &::-webkit-search-cancel-button {
      display: none;
    }
  }

  button {
    display: none;
    opacity: 0;

    &[data-visible="true"] {
      display: grid;
      opacity: 1;

      @starting-style {
        opacity: 0;
      }
    }
  }
}
